
{{#partial "content"}}

    <style>
         .footer{
    margin-top:1500px;
    background-color:#01111C;
    font-family: 'Cormorant Garamond', serif;
    color:white;
    margin-right:0;
    height:530px;
    font-size:1.5em;

    }

    </style>

    <body style="background-image:url(https://cdn.wallpapersafari.com/59/10/K1gCAr.jpg);background-size:cover;background-repeat:no-repeat;">

    <div  class="titus"><br><br><br><br><h1 style="text-align:center;font-family: 'Merienda', cursive;">HOUSES  TO  BUY</h1></div><br><br>
    <br><br><br>
    <div class="row">
        <div class="col-sm-4">
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Nyarutarama/Gasabo</p>
                        <p>House for sale:RWF 150,000,000 </p>
                        <p>1 living room, a kitchen, 5 <img class="icon" src="/images/iconbed.jpg">, 4 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house2.jpg"></a>
                <div class="inline">
                    <div class="words2">
                        <p>Kagarama/Kicukiro</p>
                        <p>House for sale: RWF 65,000,000</p>
                        <p>1 living room, a kitchen, 5 <img class="icon" src="/images/iconbed.jpg">, 2 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="col-sm-4">
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house3.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Kibagabaga/Gasabo.Sqr</p>
                        <p>House for sale: RWF 500,000,000</p>
                        <p>2 living room, a kitchen, 7 <img class="icon" src="/images/iconbed.jpg">, 5 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house4.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Kanombe/Kicukiro.Sqr </p>
                        <p>House for sale:RWF 250,000,000</p>
                        <p>1 living room, a kitchen, 4 <img class="icon" src="/images/iconbed.jpg">, 3 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="col-sm-4">
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house5.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Nyarutarama/Gasabo</p>
                        <p>House for sale:RWF 150,000,000 </p>
                        <p>1 living room, a kitchen, 5 <img class="icon" src="/images/iconbed.jpg">, 4 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house6.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Kimironko/Gasabo</p>
                        <p>House for sale: RWF 95,000,000</p>
                        <p>1 living room, a kitchen, 5 <img class="icon" src="/images/iconbed.jpg">, 2 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="col-sm-4">
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house7.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Kibagabaga/Gasabo</p>
                        <p>House for sale: RWF 1,500,000,000</p>
                        <p>2 living room, a kitchen, 11 <img class="icon" src="/images/iconbed.jpg">, 7 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house8.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Nyarutarama/Gasabo</p>
                        <p>House for sale:RWF 800,000,000</p>
                        <p>2 living room, a kitchen, 7 <img class="icon" src="/images/iconbed.jpg">, 4 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="col-sm-4">
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house9.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Nyarutarama/Gasabo</p>
                        <p>House for sale: RWF 1,500,000,000</p>
                        <p>2 living room, a kitchen, 11 <img class="icon" src="/images/iconbed.jpg">, 7 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house10.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Nyamata/kicukiro</p>
                        <p>House for sale:RWF 1,200,000,000</p>
                        <p>2 living room, a kitchen, 7 <img class="icon" src="/images/iconbed.jpg">, 4 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="col-sm-4">
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house11.jpg"></a>
                <div class="inline">
                    <div class="words">
                        <p>Kiyovu/Nyarugenge</p>
                        <p>House for sale: RWF 700,000,000</p>
                        <p>2 living room, a kitchen, 11 <img class="icon" src="/images/iconbed.jpg">, <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
            <div class="contain">
                <a href="fill"><img class="class" src="/images/house12.jpg"></a>
                <div class="inline">
                    <div class="words2">
                        <p>Kibagaga/Gasabo</p>
                        <p>House for sale:RWF 1,700,000,000</p>
                        <p>2 living room, a kitchen, 7 <img class="icon" src="/images/iconbed.jpg">, 4 <img class="icon" src="/images/iconbth.png"></p>
                        <p>Purpose: habitation</p>
                    </div>
                </div>
            </div><br><br>
        </div>
    </div>

    </body>

{{/partial}}

{{> layout.hbs}}