{{#partial "content"}}
    <div class="container-fluid" id="all">

        <div class="home">
            <h1>Reimagine home</h1>
            <p>We’ll help you find a place you’ll love.</p>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <div class="words">
                <h3>We have the most listings and constant updates.</h3>
                <p>So you’ll never miss out.</p>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <img src="/images/buy.png">
                    <h2>Buy </h2>
                    <p>Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

                <div class="col-sm-4">
                    <img src="/images/sell.png">
                    <h2>Sell</h2>
                    <p>
                        Whether you sell with Bella Cassa™ or take another approach, we’ll help you navigate the path to a successful sale.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

                <div class="col-sm-4">

                    <img src="/images/rent.png">
                    <h2>Rent</h2>

                    <div class="rwa">
                        <p>
                            We’re creating a seamless online experience – from shopping on the largest rental network, to applying, to paying rent.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>

                    </div>
                </div>
        </div>
    </div>

<!--        uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu-->

    <div class="city">
        <div class="well">
            <div class="twentyfour">
                <img src="https://data.whicdn.com/images/278491271/original.png" widht="200px" height="200px">
<!--                https://www.investattention.org/wp-content/uploads/2018/04/valentine-heart-no-background.png-->
                <h2>24/7 customer support</h2>
                <p>Day or night, we’re here for you. Talk to our support team from anywhere in the world, any hour of day.</p>
            </div>
        </div>
    </div>


<!--        uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu-->




{{/partial}}

{{> layout.hbs}}