
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hero Squad{{/block}}</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <style>

     .logo{
        width:100px;
        height:100px;
     }

    #all{
        background-image:url("https://capi.myleasestar.com/v2/dimg/65420975/1083x784/65420975.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        height:900px;
        color:white;
        left:0;
        right:0;
        top:0;
    }

    .home{
    text-align:center;
    margin-top:300px;
    font-family: 'Playfair Display', serif;
    font-size:2em;
    font-weight:bold
    }

    .words{
    text-align:center;
    margin-bottom:50px;
    }

    .footer {
        padding-top:300px;
        margin-right:0;
        margin-bottom:10px;
    }

    .services{
    padding-top:200px;
    height:1000px;
    background-color:#F0F5F9 ;
    }

    .col-sm-3{
        text-align:center;
        left:150px;
        margin:20px;
        height:500px;
        background-color:white;
        box-shadow: 2px 2px 1px 1px #F0F0F0 ;
    }

    .col-sm-3:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 2px 2px #EBEBEB ;
    }

    .city{
    margin-top:70px;
    background-image:url(https://uploads-ssl.webflow.com/5a65a3e2b7d11f0001572c3b/5aa69b4df3391400013c1ca2_media-header.jpg);
    height:360px;
    }

    .well{
        opacity:0.6;
        color:white;
        text-align:center;
        background-color:black;
        height:360px;
    }

    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Buy</a></li>
            <li><a href="#">Rent</a></li>
<!--            <li><a href='/addsighting'><img src="/images/logo2.png" class="logo"></a> </li>-->
            <li><a href="#">List your rental</a></li>
            <li><a href='/addsighting'>Contact</a> </li>
        </ul>
    </div>
</nav>

<!--<div class="container">-->
    <!--begin main template-->

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
<!--</div>-->

<div class="footer">
    <footer class="page-footer font-small unique-color-dark">

        <div>

            <div class="text-center text-md-left mt-5">


                <div class="row mt-3">

                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                        <h6 class="text-uppercase font-weight-bold">Company name</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>Balla Casa Group is committed to ensuring digital accessibility for each and every individual. We are continuously working to improve the accessibility of our web experience for everyone, and we welcome feedback and accommodation requests. kindly  <a href="/"> reach to us</a></p>

                    </div>

                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">


                        <p>
                            <a href="#!">Buy</a>
                        </p>
                        <p>
                            <a href="#!">Rent</a>
                        </p>
                        <p>
                            <a href="#!">Sell</a>
                        </p>
                        <p>
                            <a href="#!">List your rental</a>
                        </p>

                    </div>

                    <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase font-weight-bold">Contact</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <i class="fa fa-home"></i> Kigali, Rwanda, KK194</p>
                        <p>
                            <i class="fa fa-envelope"></i> bellacasa@gmail.com</p>
                        <p>
                            <i class="fa fa-phone"></i> + 250 787 702 494</p>
                        <p>
                            <i class="fa fa-print"></i> + 250 782 973 810</p>

                    </div>

                </div>

            </div>

            <div class="footer-copyright text-center py-3">Bella Casa © 2019:
                <a href="https://mdbootstrap.com/education/bootstrap/"> bellacasa.com</a>
            </div>

    </footer>


</div>


<!--end main template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}


