
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hero Squad{{/block}}</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neuton:400i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda|Neuton:400i&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
<!--            <a class="navbar-brand" href="/">WebSiteName</a>-->
        </div>
        <ul class="nav navbar-nav">
            <li class="nartop"><a href="/">Home</a></li>
            <li class="nartop"><a href="/buyHouse">Buy</a></li>
            <li class="nartop"><a href="/add">Rent</a></li>
            <li><a href='/'><img src="https://s3-us-east-2.amazonaws.com/designevo/projects/uid-678729/4926a6ca043718e7dc4583310d886731/preview.png?t=1570140153631" class="logo"></a> </li>
            <li class="nartop"><a href="/land/new">List your rental</a></li>
            <li class="nartop"><a href='/'>Contact</a> </li>
        </ul>
    </div>
</nav>
<style>

     .logo{
        width:100px;
        height:100px;
     }

    #all{
        background-image:url("https://www.woodstockinn.com/sites/default/files/styles/scale_1920/public/2018-12/woodstock_inn_2016_dusk_003.jpg?itok=ubEoXd2h");
        background-size:cover;
        background-repeat:no-repeat;
        height:900px;
        color:white;
        left:0;
        right:0;
        top:0;
    }

    .home{
    background-color:black;
    opacity:0.7;
    text-align:center;
    margin-top:400px;
    font-family: 'Playfair Display', serif;
    font-size:2em;
    font-weight:bold

    }

    .btn{
        font-size:1.1em;
        color:#1D5884;
        background-color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 20px;
        margin: 4px 2px;
        transition: 0.3s;
    }

     .btn:hover {
        background-color: #1D5884;
        color: white;
     }

     a:hover{
     text-decoration:none;
     color: white;
     }


    .footer {
        background-color:#01111C;
        font-family: 'Cormorant Garamond', serif;
        color:white;
        padding-top:40px;
        margin-top:400px;
        margin-right:0;
        margin-bottom:10px;
        height:530px;
        font-size:1.5em;
    }

    .services{
    padding-top:200px;
    height:1000px;
    background-color:#F0F5F9 ;
    }

    .col-sm-3{
        font-family: 'News Cycle', sans-serif;
        font-size:1.4em;
        text-align:center;
        left:150px;
        margin:20px;
        height:500px;
        background-color:white;
        box-shadow: 2px 2px 1px 1px #F0F0F0 ;
    }

    .col-sm-3:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 2px 2px #EBEBEB ;
    }

    .city{
    margin-top:70px;
    background-image:url(https://uploads-ssl.webflow.com/5a65a3e2b7d11f0001572c3b/5aa69b4df3391400013c1ca2_media-header.jpg);
    height:360px;
    }

    .well{
        margin-bottom:600px;
        opacity:0.6;
        color:white;
        text-align:center;
        background-color:black;
        height:360px;
        margin-bottom:600px;
    }

    .pfooter{
        padding-left:30px;
        width:80%
    }

    .imgf{
    width:150px;
    height:150px;
    }

    li{
     font-size:2.3em;
    }

    .navbar{
    background-color:#01111C;
    padding-left:600px;
    padding-top:40px;
    }

    .nartop{
    margin-top:40px;
    font-family: 'Satisfy', cursive;
    }
    .titus{
color:goldenrod;
   font-family: 'Neuton', serif;
}
.contain{
   position:relative;
}
.class{
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.icon{
  width:25px;
  height:15px;
}
.inline{
  transition: .5s ease;
 opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
 .contain:hover .class {
  /* opacity: 0.3; */
}
.contain:hover .inline {
  opacity: 1;
}
.words {
  background-color: rgba(255, 235,205, 0.7);
  color: black;
  border-radius:10px;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Courgette', cursive;
}
.words2 {
  background-color: rgba(255, 235,205, 0.7);
  color: black;
  border-radius:10px;
  font-size: 16px;
  padding: 2px 35px;
  font-family: 'Courgette', cursive;
}
.new{
  margin-left:40%;
}


    </style>


<!--<div class="container">-->
    <!--begin main template-->

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
<!--</div>-->

<div class="footer">
    <footer class="page-footer font-small unique-color-dark">

        <div>

            <div class="text-center text-md-left mt-5">
                <div class="row mt-3">
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                        <img src="https://s3-us-east-2.amazonaws.com/designevo/projects/uid-678729/4926a6ca043718e7dc4583310d886731/preview.png?t=1570140153631" class="imgf" style="padding-top:0px;">

                        <p class="pfooter">Balla Casa Group is committed to ensuring digital accessibility for each and every individual. We are continuously working to improve the accessibility of our web experience for everyone, and we welcome feedback and accommodation requests. kindly  <a href="/" style="color:#4FA1DE"> reach to us!</a></p>

                    </div>

                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold" style="font-family: 'Cormorant Garamond', serif ;padding-top:40px ; font-size:1.6em">Useful links</h6>
                        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="margin-left:200px;margin-right:200px;">
                        <br>

                        <p>
                            <a href="#!">Buy</a>
                        </p>
                        <p>
                            <a href="#!">Rent</a>
                        </p>
                        <p>
                            <a href="#!">Sell</a>
                        </p>
                        <p>
                            <a href="#!">List your rental</a>
                        </p>

                    </div>

                    <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase font-weight-bold" style="font-family: 'Cormorant Garamond', serif; font-size:1.6em ;padding-top:40px ;">Contact</h6>
                        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="margin-left:200px;margin-right:200px;">
                        <br>
                        <p>
                            <i class="fa fa-home"></i> Kigali, Rwanda, KK194</p>
                        <p>
                            <i class="fa fa-envelope"></i> bellacasa@gmail.com</p>
                        <p>
                            <i class="fa fa-phone"></i> + 250 787 702 494</p>
                        <p>
                            <i class="fa fa-print"></i> + 250 782 973 810</p>

                    </div>

                </div>

            </div>
            <hr>
            <div class="footer-copyright text-center py-3" style="margin-top:10px;">Bella Casa © 2019:
                <a href="https://mdbootstrap.com/education/bootstrap/"> bellacasa.com</a>
            </div>
            <hr>
        </div>
    </footer>
</div>


<!--end main template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}


